.git
.github
.turbo
.next
dist
coverage
node_modules
apps/*/.next
apps/*/.expo
apps/*/dist
packages/*/dist
*.md
!README.md
.env
.env.local
.env.production
.env.staging
.env.*.local
**/*.log
.DS_Store
apps/driver/.expo
**/.turbo
