{
	email {$ACME_EMAIL}
}

(websocket_api) {
	reverse_proxy api:3001 {
		flush_interval -1
		transport http {
			read_timeout 0
			write_timeout 0
			dial_timeout 10s
		}
	}
}

{$API_HOST} {
	encode gzip
	import websocket_api
}

{$OCPP_HOST} {
	encode gzip
	import websocket_api
}

{$ADMIN_HOST} {
	encode gzip
	reverse_proxy admin:3000
}

{$APP_HOST} {
	encode gzip
	reverse_proxy driver:8081
}
